/* NOTE(jordan): style ordering:
 * $variable-s
 *
 * @extend-s
 *
 * @include-s
 *
 * content (if a pseudo-element)
 *
 * width, height
 * max-width, max-height
 *
 * margins
 * paddings
 *
 * display,opacity,overflow(-*)
 * position,top,bottom,left,right
 * z-index
 *
 * background
 * font-*,text-*,color
 *
 * (anything not listed above)
 *
 * transform
 *
 * transition,animation
 */

html, body {
  width: 100%;
  height: 100%;

  margin: 0;

  overflow-x: hidden;

  font-size: 18pt;
  font-weight: 400;
}

body {
  background: #fafafa;

  font-family: $default-font-family;
  color: $font-color;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  small {
    // NOTE(jordan): increased font-weight for title-anim gaps
    font-weight: 400;
  }
}

h1 {
  font-size: 4rem;
}

.browsehappy {
  margin: 0.2em 0;
  padding: 0.2em 0;

  background: #ccc;

  color: #000;
}
