@keyframes fly-out-up {
  to {
    top: -100%;
  }
}

@keyframes load-img--1 {
  from {
    top:  $loader-logo-top;
    left: $loader-logo-left;
    width: $loader-logo-width;
    transform: rotate(0deg);
  }

  to {
    top: $loader-logo-top;
    left: $loader-logo-anim-left;
    width: $loader-logo-width;
    transform: rotate(0deg);
  }
}

@keyframes load-img--2 {
  from {
    top: $loader-logo-top;
    left: $loader-logo-anim-left;
    width: $loader-logo-width;
    transform: rotate(0deg);
  }
  to {
    top: 15px;
    left: 10px;
    width: 50px;
    transform: rotate(-90deg);
  }
}

@keyframes load-title--1 {
  0% {
    opacity: 0;
    left: $loader-logo-anim-left;
  }

  40% {
    opacity: 0;
  }

  to {
    opacity: 1;
    left: $loader-title-anim-left;
  }
}

@keyframes load-title--2 {
  from {
    opacity: 1;
    left: $loader-title-anim-left;
  }
  to {
    opacity: 1;
    left: $loader-title-left;
  }
}

@keyframes title-flux {
  from {
    text-shadow: none;
  }

  to {
    text-shadow: 1px 1px 0 $epic-red
      , 2px 2px 0 $epic-red
      , 3px 3px 0 $epic-red
      , 4px 4px 0 $epic-red
      , 5px 5px 0 $epic-red
      , 6px 6px 0 $epic-red
      , 7px 7px 0 $epic-red
      , 8px 8px 0 $epic-red
      , 9px 9px 0 $epic-red
      , 10px 10px 0 $epic-red;
  }
}

@keyframes title-flux-3 {
  from {
    text-shadow: none;
  }

  33% {
    text-shadow: -1px 1px 0 $epic-red
      , -2px 2px 0 $epic-red
      , -3px 3px 0 $epic-red
      , -4px 4px 0 $epic-red
      , -5px 5px 0 $epic-red
      , -6px 6px 0 $epic-red
      , -7px 7px 0 $epic-red
      , -8px 8px 0 $epic-red
      , -9px 9px 0 $epic-red
      , -10px 10px 0 $epic-red;

  }

  66% {
    text-shadow: 1px 1px 0 $epic-red
      , 2px 2px 0 $epic-red
      , 3px 3px 0 $epic-red
      , 4px 4px 0 $epic-red
      , 5px 5px 0 $epic-red
      , 6px 6px 0 $epic-red
      , 7px 7px 0 $epic-red
      , 8px 8px 0 $epic-red
      , 9px 9px 0 $epic-red
      , 10px 10px 0 $epic-red;
  }

  100% {
    text-shadow: none;
  }
}

@keyframes title-flux-4 {
  from {
    text-shadow: none;
  }

  25% {
    text-shadow: -1px 1px 0 $epic-red
      , -2px 2px 0 $epic-red
      , -3px 3px 0 $epic-red
      , -4px 4px 0 $epic-red
      , -5px 5px 0 $epic-red
      , -6px 6px 0 $epic-red
      , -7px 7px 0 $epic-red
      , -8px 8px 0 $epic-red
      , -9px 9px 0 $epic-red
      , -10px 10px 0 $epic-red;

  }

  50% {
    text-shadow: 1px 1px 0 $epic-red
      , 2px 2px 0 $epic-red
      , 3px 3px 0 $epic-red
      , 4px 4px 0 $epic-red
      , 5px 5px 0 $epic-red
      , 6px 6px 0 $epic-red
      , 7px 7px 0 $epic-red
      , 8px 8px 0 $epic-red
      , 9px 9px 0 $epic-red
      , 10px 10px 0 $epic-red;
  }

  75% {
    text-shadow: -1px 1px 0 $epic-red
      , -2px 2px 0 $epic-red
      , -3px 3px 0 $epic-red
      , -4px 4px 0 $epic-red
      , -5px 5px 0 $epic-red
      , -6px 6px 0 $epic-red
      , -7px 7px 0 $epic-red
      , -8px 8px 0 $epic-red
      , -9px 9px 0 $epic-red
      , -10px 10px 0 $epic-red;

  }

  100% {
    text-shadow: none;
  }
}
