.centering-hack {
  // from @elleestcrimi 's answer to
  // http://stackoverflow.com/questions/14562457/center-oversized-image-in-div
  margin: auto;
  position: absolute;
  top: -1080px;
  left: -1920px;
  right: -1920px;
  bottom: -1080px;
}
