.centering-hack {
  // from @elleestcrimi 's answer to
  // http://stackoverflow.com/questions/14562457/center-oversized-image-in-div
  margin: auto;
  position: absolute;
  top:    -9999px;
  left:   -9999px;
  right:  -9999px;
  bottom: -9999px;
}
