// bower:scss
// endbower

// NOTE(jordan): calc support is pretty good (90% USA)
// biggest caveat: IE9 supports calc EXCEPT with display: table
// support is even better than 90% ignoring Opera Mini & Android Browser

// @imports
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import 'vars';
@import 'extends';
@import 'anim';
@import 'base';
@import 'page-loader';
@import 'slogan';

section#main {
  width: 100%;
  height: 100%;

  margin: 0;

  nav {

    width: 95%;

    margin: 0 0 0 5%;

    position: fixed;

    text-align: center;

    li {
      width: 1%;

      display: table-cell;

      padding: 2px 10px;

      list-style-type: none;
    }
  }

  header {
    width: 100%;
    height: 100%;

    overflow: hidden;
    position: relative;

    text-align: center;
    color: $off-white;

    h3.apply {
      width: 100%;

      position: absolute;
      bottom: 120px;

      font-size: 2rem;
      text-transform: uppercase;
    }

    i.arrow-down {
      width: 100%;

      position: absolute;
      left: 0;
      bottom: 50px;

      font-size: 2.5rem;
    }
  }

  video {
    @extend .centering-hack;

    z-index: -1;
  }
}

#main-logo img {
  width: $loader-logo-width;

  position: absolute;
  top: $loader-logo-top;
  left: $loader-logo-left;
  z-index: 2;

  display: block;

  // NOTE(jordan): firefox/chrome/safari image quality specifier
  image-rendering: crisp-edges;
}

.title {
  width: $title-width;

  margin-top: $title-margin-top;

  position: absolute;
  top: $loader-logo-top;
  left: $title-left;
  z-index: 1;

  display: block;

  opacity: 0;

  font-weight: bold;
  text-align: center;
  color: $off-white;

  &.loaded {
    top: calc(50% - #{$title-font-size / 3});
  }
}

.main-title {
  font-size: $title-font-size;
}

.subtitle {
  // NOTE(jordan): from .title: -1 * font-size
  margin-top: -1.33rem;
  // WARN(jordan): 0.1875 * .title font-size
  font-size: 0.1875 * $title-font-size;
}

section#apply {
  text-align: center;

  overflow: hidden;

  & > h1 {
    width: 120%;
    height: 160px;

    margin-top: 3rem;
    padding-top: 20px;

    position: relative;
    left: -10%;

    overflow: hidden;

    text-align: center;
    font-size: 7rem;
    color: $epic-red;

    line-height: 4.4rem;

    @media #{$small} {
      height: 177px;
    }

    @media #{$smed} {
      width: 130%;
      left: -15%;
      height: 85px;
    }

    @media #{$medium} {
      height: 97px;
    }
  }

  .apply__application {
    background: $epic-red;

    border-top: 80px solid darken($epic-red, 10%);

    box-shadow: 0 -10px 25px rgba(0,0,0,0.2);

    .main-application {
      width: 100%;
      max-width: 1150px;

      margin: 0 auto;
      margin-top: -15px;
      padding: 50px 0;

      position: relative;

      box-shadow: //0 -5px 30px rgba(0,0,0,0.5)
                /*,*/ 15px 0 25px -18px rgba(0,0,0,0.5)
                , -15px 0 25px -18px rgba(0,0,0,0.5);

      background: darken($off-white, 5%);

      @media #{$small} {
        width: 85%;
      }

      @media #{$medium} {
        width: 80%;
      }

      .header {
        color: $epic-red;
        text-shadow: 2px 2px 0 white
                   , -2px 2px 0 white;
      }

      hr {
        height: 0;

        margin: 50px 0;

        border-color: darken($epic-red, 8%);
        border-width: 20px;
        border-style: solid;

        &:before {
          content: '.';

          width: calc(100% + 40px);
          height: 30px;

          position: relative;
          left: -1940px;
          top: -10px;

          display: block;

          background: transparent;
          color: transparent;

          border-left: 1920px solid darken($epic-red, 15%);
          border-right: 1920px solid darken($epic-red, 15%);
        }
      }

      .main-application__foot {
        margin: 100px 0 -50px 0;
        padding: 100px 0;

        position: relative;

        background: $classy-dark;

        text-shadow: -1px -1px darken($classy-dark, 10%);
        color: lighten($classy-dark, 10%);

        border-bottom: 5px solid darken($classy-dark, 10%);

        &:before {
          content: '.';

          width: 100%;
          height: calc(100% + 5px);

          position: absolute;
          top: 0;
          left: -1920px;

          display: block;

          background: transparent;

          color: transparent;
          text-shadow: none;

          box-shadow: 0 0 15px rgba(0,0,0,0.5);

          border-left: 1920px solid darken($classy-dark, 5%);
          border-right: 1920px solid darken($classy-dark, 5%);
        }
      }
    }
  }
}
