// bower:scss
// endbower

// @imports
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

// fonts
$default-font-set: 'Lato', Helvetica, sans-serif;

// colors
$classy-dark: #404040;
$epic-red:    #d42a34;
$off-white:   #efefef;

// loader positioning
$loader-content-top-offset: 35%;
$loader-logo-width: 336px;
$loader-logo-top: calc(50% - (#{$loader-logo-width} / 2));
$loader-logo-left: $loader-logo-top;
$loader-logo-anim-left: calc(50% - #{$loader-logo-width}/2 - 200px);

// misc
$text-shadow-subtle-drop: 0 3px 3px rgba(0,0,0,0.3);

html, body {
  width: 100%;
  height: 100%;

  margin: 0;

  overflow-x: hidden;

  font-size: 18pt;
}

body {
  background: #fafafa;

  font-family: $default-font-set;
  color: #333;
}

h1,h2,h3,h4,h5,h6 {
  small {
    font-size: 50%;
    font-weight: 300;
  }
}

h1 {
  font-size: 4rem;
}

.browsehappy {
  margin: 0.2em 0;
  padding: 0.2em 0;

  background: #ccc;
  color: #000;
}

#page-loader {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  background: $classy-dark;

  &.animate {
    animation: 0.9s load ease-in-out 0.9s;
  }

  &.loaded {
    // after anim-duration
    display: none;
  }
}

.title {
  width: 50%;

  margin: 3% 0;

  display: block;
  opacity: 0;

  font-size: 6rem;

  position: absolute;
  top: $loader-logo-top;
  margin-top: 75px;
  left: $loader-logo-left;
  z-index: 2;

  color: $off-white;
  text-shadow: $text-shadow-subtle-drop;

  &.animate {
    animation: load-title--1 0.9s ease-in-out
             , load-title--2 0.9s ease-in-out 0.9s;
  }

  &.loaded {
    opacity: 1;
    left: $loader-logo-left;
  }
}

.subtitle {
  @extend .title;
  top: $loader-logo-top;
  margin-top: 205px;
  // WARN(jordan): magic number
  padding-left: 28px;
  font-size: 1.8rem;
}

img#main-logo {
  width: $loader-logo-width;

  position: absolute;
  top: $loader-logo-top;
  left: $loader-logo-left;
  z-index: 2;

  display: block;

  &.animate {
    width: 50px;

    top: 10px;
    left: 10px;

    animation: 0.9s load-img--1 ease-in-out
             , 0.9s load-img--2 ease-in-out 0.9s;
    transform: rotate(-90deg);
  }
}

section#main {
  nav {

    width: 90%;

    margin-left: 10%;

    position: fixed;
    padding: 0;

    li {
      list-style-type: none;

      display: table-cell;
      width: 1%;
      padding: 10px;
    }
  }

  video {
    width: 100%;
  }
}

@keyframes load {
  to {
    top: -100%;
  }
}

@keyframes load-img--1 {
  from {
    top:  $loader-logo-top;
    left: $loader-logo-left;
    width: $loader-logo-width;
    transform: rotate(0deg);
  }

  to {
    top: $loader-logo-top;
    left: $loader-logo-anim-left;
    width: $loader-logo-width;
    transform: rotate(0deg);
  }
}

@keyframes load-img--2 {
  from {
    top: $loader-logo-top;
    left: $loader-logo-anim-left;
    width: $loader-logo-width;
    transform: rotate(0deg);
  }
  to {
    top: 10px;
    left: 10px;
    width: 50px;
    transform: rotate(-90deg);
  }
}

@keyframes load-title--1 {
  10% {
    opacity: 0;
    left: $loader-logo-left;
  }

  to {
    opacity: 1;
    left: 47%;
  }
}

@keyframes load-title--2 {
  from {
    opacity: 1;
    left: 47%;
  }
  to {
    opacity: 1;
    left: $loader-logo-left;
  }
}
