#loader-underlay {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  background: $epic-red; //$classy-dark;

  &.animate.load-animation {
    animation: 0.9s fly-out-up ease-in-out 0.9s;

    &.loaded {
      // after anim-duration
      display: none;
    }
  }
}

#loader-overlay {
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 4;

  background: rgba(0,0,0,0.66);

  transition: 0.3s max-height ease;
}


// fancy hack for hiding .title while animating
#main-logo::before {
  content: '.';

  width: 50%;
  max-width: 50%;
  height: 100%;

  display: block;
  position: absolute;
  z-index: 2;

  background: $epic-red;
  color: transparent;

  transition: 0.9s max-width ease-in-out
            , 0s opacity 0.9s linear;
}

#main-logo.animate.load-animation {
  img {
    animation: 0.9s load-img--1 ease-in-out forwards
      , 0.9s load-img--2 ease-in-out 0.9s forwards;
  }

  &::before {
    max-width: 25%;

    opacity: 0;
  }

  &.loaded {
    &::before {
      display: none;
    }
  }
}

.title {
  &.animate.load-animation {
    animation: load-title--1 0.9s linear forwards
             , load-title--2 0.9s ease-in-out 0.9s forwards;

    @media #{$medium} {
      animation: load-title--1 0.9s linear forwards
               , load-title--2-lg 0.9s ease-in-out 0.9s forwards;
    }

    &.loaded {

      opacity: 1;

      animation: title-load-shadow $load-shadow-props
               , title-flux $flux-props;

      .subtitle {
        animation: subtitle-load-shadow $load-shadow-props
                 , subtitle-flux $flux-props;
      }
    }
  }
}

header * {
  transition: text-shadow $shadow-load-time ease;

  &.loaded {
    text-shadow: 0 4px $epic-red;
  }
}
