#page-loader {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  background: $epic-red; //$classy-dark;

  &.animate {
    animation: 0.9s fly-out-up ease-in-out 0.9s;
  }

  &.loaded {
    // after anim-duration
    display: none;
  }
}

.title {
  width: 420px;

  margin-top: 0.5rem;

  display: block;
  opacity: 0;

  font-size: 8rem;
  font-weight: bold;
  text-align: center;

  position: absolute;
  top: $loader-logo-top;
  left: $loader-title-left;
  z-index: 2;

  color: $off-white;

  &.animate {
    animation: load-title--1 0.9s linear
             , load-title--2 0.9s ease-in-out 0.9s;
  }

  &.loaded {
    opacity: 1;
    animation: title-flux-3 5s linear infinite alternate;
  }
}

.subtitle {
  @extend .title;
  top: $loader-logo-top;
  // NOTE(jordan): from .title
  margin-top: 8rem;
  // WARN(jordan): magic number
  font-size: 2.4rem;
}

img#main-logo {
  width: $loader-logo-width;

  position: absolute;
  top: $loader-logo-top;
  left: $loader-logo-left;
  z-index: 2;

  display: block;

  // NOTE(jordan): firefox/chrome/safari image quality specifier
  image-rendering: crisp-edges;

  &.animate {
    animation: 0.9s load-img--1 ease-in-out forwards
             , 0.9s load-img--2 ease-in-out 0.9s forwards;
  }
}
