h1.slogan {
  width: 100%;
  height: 5rem;

  position: absolute;
  top: calc(50% - 5rem * 3/2);
  left: - 100%;

  opacity: 0;

  text-align: center;

  font-size: 5rem;
  color: $off-white;

  transition: left ease 1s
            , opacity ease 1s;

  @media #{$medium} {
    height: 7rem;
    font-size: 7rem;
    top: calc(50% - 7rem * 3/2);
  }

  &.loaded {
    animation: title-load-shadow $load-shadow-props
             , title-flux $flux-props;
  }

  &.current {
    left: 0;

    opacity: 1;

    & ~ h1.slogan {
      left: 100%;
    }
  }
}
