// fonts
$default-font-family: 'Lato', Helvetica, sans-serif;

// colors
$classy-dark: #404040;
$epic-red:    #d42a34;
$off-white:   #efefef;

// loader positioning
$loader-content-top-offset: 35%;
$loader-logo-width: 420px;
$loader-logo-top: calc(50% - (#{$loader-logo-width} / 2));
$loader-logo-left: $loader-logo-top;
$loader-logo-anim-left: calc(50% - #{$loader-logo-width}/2 - 260px);

// misc
$text-shadow-subtle-drop: 0 3px 3px rgba(0,0,0,0.3);
