// fonts
$default-font-family: 'Lato', Helvetica, sans-serif;
$font-color: #333;

// colors
$classy-dark: #404040;
$epic-red:    #d42a34;
$off-white:   #efefef;

// loader positioning
$loader-content-top-offset: 35%;
$loader-logo-width: 300px;
$loader-title-width: 420px;
// WARN(jordan): calc
$loader-logo-top: calc(50% - (#{$loader-logo-width} / 2));
$loader-logo-left: $loader-logo-top;
// WARN(jordan): calc
$loader-logo-anim-left: calc(50% -
  (#{$loader-logo-width} + #{$loader-title-width}) / 2);
$loader-title-left: calc(50% - (#{$loader-title-width} / 2));
$loader-title-anim-left: calc(50% +
  (#{$loader-logo-width} - #{$loader-title-width}) / 2);
